.registerPageWrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;

  .registerPage--header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
  }

  .registerContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 35%;

    h2 {
      margin: 0;
      padding-bottom: 1rem;
      box-sizing: border-box;
      text-align: center;
    }

    .registerContainer--form {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1.2rem;
      box-sizing: border-box;
      width: 100%;

      input {
        padding: 1rem;
        box-sizing: border-box;
        border: none;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;

        &:focus {
          outline: none;
        }
      }

      .error-border {
        border: 1px solid red;
      }

      .error-message {
        color: red;
        margin: 0;
      }
    }

    button {
      width: 60%;
      align-self: center;
    }
  }
}

@media (max-width: 768px) {
  .registerPageWrapper {
    .registerContainer {
      width: 70%;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .registerPageWrapper {
    .registerContainer {
      width: 55%;
    }
  }
}

@media (max-height: 600px) {
  .registerPageWrapper {
    .registerContainer {
      width: 45%;

      .registerContainer--form {
        gap: 0.5rem;

        input {
          padding: 0.5rem;
        }
      }

      h2 {
        padding-bottom: 0.5rem;
      }

      p {
        margin: 0;
        padding: 0.5rem;
        box-sizing: border-box;
      }

      button {
        margin-top: 0.5rem;
        box-sizing: border-box;
      }
    }
  }
}
