@import "../../assets/styles/variables";

.progressItemContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  box-sizing: border-box;
  width: 90%;
  overflow-y: hidden;
  overflow-x: hidden;

  &--item {
    padding-bottom: 1rem;

    &_header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      box-sizing: border-box;

      h5 {
        margin: 0;
        font-size: 1rem;
        word-break: break-word;
      }

      p {
        margin: 0;
        font-size: 0.9rem;
        padding: 0.2rem;
        box-sizing: border-box;
      }
    }

    &_progress {
      width: 100%;
      height: 1.5rem;
      overflow: hidden;
      transition: width 0.3s ease-in-out;
      box-sizing: border-box;
    }
  }
}

@media (max-height: 450px) {
  .progressItemContainer {
    max-height: 100vh;
    overflow-y: auto;

    &--item {
      &_header {
        h5 {
          font-size: 0.8rem;
        }

        p {
          font-size: 0.7rem;
        }
      }
    }
  }
}
