.progressItemContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  box-sizing: border-box;
  width: 90%;

  &--item {
    padding-bottom: 1rem;

    &_header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      box-sizing: border-box;

      h5 {
        margin: 0;
        font-size: 0.9rem;
      }

      p {
        margin: 0;
        font-size: 0.8rem;
      }
    }

    &_progress {
      width: 100%;
      height: 2rem;
    }
  }
}
