@import "../../assets/styles/variables";

.dashboardItemContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2rem;
  box-sizing: border-box;
  cursor: pointer;

  &--module {
    padding: 0.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    border-radius: 40px;

    h4 {
      margin: 0;
      padding: 0.5rem;
      box-sizing: border-box;
    }

    p {
      margin: 0;
      padding: 0.5rem;
      box-sizing: border-box;
      align-self: center;
    }
  }
}

@media (max-width: 768px) {
  .dashboardItemContainer {
    flex-direction: column;
    row-gap: 1rem;

    &--module {
      flex-basis: 100%;
      width: 100%;
      max-width: 60vw;
    }
  }
}