.dashboardItemContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2rem;
  box-sizing: border-box;

  &--module {
    padding: 0.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    border-radius: 40px;
    background: green;

    h4 {
      margin: 0;
      padding: 0.5rem;
      box-sizing: border-box;
    }

    p {
      margin: 0;
      padding: 0.5rem;
      box-sizing: border-box;
      align-self: center;
    }
  }
}
