.appSettingsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  box-sizing: border-box;

  h3 {
    width: 100%;
    text-align: start;
    border-bottom: 1px solid green;
  }

  &--inputs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    box-sizing: border-box;

    &_item,
    &_select {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;

      label {
        padding: 0 0.2rem;
        box-sizing: border-box;
      }
    }

    &_item {
      width: 75%;

      input {
        padding: 0.5rem;
        box-sizing: border-box;
      }
    }

    &_select {
      width: 50%;

      select {
        padding: 0.5rem;
        box-sizing: border-box;
      }
    }
  }
}
