.expensesContainer {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: minmax(70%, 1fr) 30%;
  padding: 1rem;
  box-sizing: border-box;

  h1 {
    margin: 0;
    text-align: center;
    padding-bottom: 1rem;
    box-sizing: border-box;
  }

  &--left {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    border-radius: 15px;
    box-sizing: border-box;
    max-height: 100%;
    overflow: hidden;

    .addExpenseButton {
      cursor: pointer;
      color: white;
      padding-bottom: 2rem;
      border-radius: 4px;
      font-size: 1.2rem;
      box-sizing: border-box;
      transition: all 0.3s ease-in-out;
      width: 40%;

      &:hover {
        transform: translateX(10px);
        color: green;
      }
    }

    &_list {
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 15px;
      flex-grow: 1;
      padding: 0.5rem;
      box-sizing: border-box;
      max-height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      scrollbar-width: thin;
      scrollbar-color: #888 grey;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 15px
      }

      &::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0.2);
      }

      &-item {
        padding: 0.5rem;
        box-sizing: border-box;
        border-bottom: 1px solid green;
      }
    }
  }

  &--right {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    width: 100%;
    max-height: 100%;
    overflow: hidden;

    h4 {
      margin: 0;
      padding: 1rem;
      box-sizing: border-box;
      text-align: center;
      font-size: 1.2rem;
    }
  }
}
