.miniProfileContainer {
  padding-top: 1rem;
  box-sizing: border-box;

  img {
    border-radius: 50%;
    width: 6rem;
    cursor: pointer;
    object-fit: contain;
  }

  &__lowPart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    p {
      margin: 0;
      font-size: 1.5rem;
      padding-right: 0.5rem;
      box-sizing: border-box;
      hyphens: auto;
    }

    .material-symbols-outlined {
      font-size: 1.5rem;
      color: #4caf50;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        scale: 1.2;
      }
    }
  }
}

@media (max-width: 768px) {
  .miniProfileContainer {
    img {
      width: 4rem;
    }

    &__lowPart {
      p {
        font-size: 1rem;
      }
    }
  }
}

@media (max-height: 450px) {
  .miniProfileContainer {
    padding-top: 0.5rem;

    img {
      width: 3.5em;
    }

    &__lowPart {
      p {
        font-size: 0.9rem;
      }
    }
  }
}