@import "./assets/styles/variables.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

#root {
  max-height: 100vh;
}

.orange-black {
  .navbarContainer--links a.active, .navbarContainer--links [class^="material"]:hover, .expenseItemContainer [class^="material"],
  .miniProfileContainer [class^="material"], .logoContainer, .settingsContainer h1, .dashboardContainer [class^="material"],
  .loginContainer p a, .registerContainer p a, .expensesContainer h1, .dashboardContainer h1 {
    color: $primaryOrange;
  }

  .layoutContainer, .loginPageWrapper, .registerPageWrapper {
    background-color: $primaryBlack;
  }

  .navbarContainer--links a, .miniProfileContainer, .loginContainer, .registerContainer {
    color: $primaryWhite;
  }

  .headerContent {
    box-shadow: 0 4px 20px -5px rgba($primaryOrange, 0.8);
  }

  .mainContent {
    background: $secondaryBlack;
    color: $primaryWhite;
  }

  .dashboardItemContainer--module, .sidebarContainer {
    background: linear-gradient(60deg, $secondaryBlack, $primaryOrange);
  }

  .categoryItem {

    &.selected {
      color: $secondaryBlack;
      background-color: darken($primaryOrange, 5%);
    }

    &:hover {
      background-color: darken($primaryOrange, 5%);
    }
  }

  .miniProfileContainer {
    img {
      border: 2px solid $primaryOrange;
    }
  }

  .periodItemContainer {
    color: $primaryWhite;

    li {
      &.active, &:hover {
        color: $primaryOrange;
      }
    }
  }

  .addExpenseButton {
    color: $primaryWhite;

    &:hover {
      color: $primaryOrange;
    }
  }

  .profileSettingsContainer h3, .appSettingsContainer h3, .expensesContainer--left_list-item {
    border-bottom: 1px solid $primaryOrange;
  }


  .navbarContainer--links a:hover {
    border-left: 10px solid $primaryOrange;
  }

  .expensesContainer--left_list, .expensesContainer--right {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .customButton {
    &.classic {
      color: $primaryWhite;
      background-color: $primaryOrange;
    }

    &.delete {
      color: $secondaryBlack;
      background-color: $primaryWhite;

      &:hover {
        color: red;
      }
    }

    &.itemDelete {
      color: $primaryOrange;

      &:hover {
        color: red;
        scale: 1.4;
      }
    }
  }

  .settingsContainer, .loginContainer, .registerContainer {
    input {
      &:focus {
        border: 1px solid $primaryOrange
      }
    }
  }

  .progressItemContainer--item_progress {
    &::-webkit-progress-bar {
      background-color: $primaryWhite;
      border-radius: 5px;
    }

    &::-webkit-progress-value {
      background-color: $primaryOrange;
      border-radius: 4px;
    }

    &::-moz-progress-bar {
      background-color: $primaryOrange;
      border-radius: 4px;
    }

    &::-ms-fill {
      background-color: $primaryOrange;
      border-radius: 4px;
    }
  }

  .language-switcher .front, .language-switcher .back {
    background: linear-gradient(60deg, $secondaryBlack, $primaryOrange);
    color: $primaryWhite;
  }

  .sidebarContainer--content_input input {
    border-bottom: 1px solid $primaryWhite;
    color: $primaryWhite;
  }

  .logoContainer {
    background: linear-gradient(135deg, #F37335, #1E1E1E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .gender-group {
    input[type="radio"] {
      accent-color: $primaryOrange;
    }
  }
}

.light-blue {
  .navbarContainer--links a.active, .navbarContainer--links [class^="material"]:hover, .expenseItemContainer [class^="material"],
  .miniProfileContainer [class^="material"], .logoContainer, .settingsContainer h1, .dashboardContainer [class^="material"],
  .loginContainer p a, .registerContainer p a, .expensesContainer h1, .dashboardContainer h1 {
    color: $secondaryBlue;
  }

  .layoutContainer, .loginPageWrapper, .registerPageWrapper {
    background-color: $secondaryLightGrey;
  }

  .navbarContainer--links a, .miniProfileContainer, .loginContainer, .registerContainer {
    color: $secondaryBlack;
  }

  .headerContent {
    box-shadow: 0 4px 35px -6px rgba($secondaryBlue, 0.8);
  }

  .mainContent {
    background: rgba($secondaryLightGrey, 0.3);
    color: $secondaryBlack;
  }

  .dashboardItemContainer--module, .sidebarContainer {
    background: linear-gradient(60deg, $secondaryLightGrey, $secondaryBlue);
  }

  .categoryItem {

    &.selected {
      color: $primaryWhite;
      background-color: lighten($secondaryBlue, 5%);
    }

    &:hover {
      background-color: lighten($secondaryBlue, 5%);
    }
  }

  .miniProfileContainer {
    img {
      border: 2px solid $secondaryBlue;
    }
  }

  .periodItemContainer {
    color: $primaryBlack;

    li {
      &.active, &:hover {
        color: $secondaryBlue;
      }
    }
  }

  .addExpenseButton {
    color: $secondaryBlack;

    &:hover {
      color: $secondaryBlue;
    }
  }

  .profileSettingsContainer h3, .appSettingsContainer h3, .expensesContainer--left_list-item {
    border-bottom: 1px solid $secondaryBlue;
  }

  .navbarContainer--links a:hover {
    border-left: 10px solid $secondaryBlue;
  }

  .expensesContainer--left_list, .expensesContainer--right {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .customButton {
    &.classic {
      color: $primaryWhite;
      background-color: $secondaryBlue;
    }

    &.delete {
      color: $secondaryBlack;
      background-color: darken($secondaryLightGrey, 10%);

      &:hover {
        color: red;
      }
    }

    &.itemDelete {
      color: $secondaryBlue;

      &:hover {
        scale: 1.4;
        color: red;
      }
    }
  }

  .settingsContainer, .loginContainer, .registerContainer {
    input {
      &:focus {
        border: 1px solid $secondaryBlue;
      }
    }
  }

  .progressItemContainer--item_progress {
    &::-webkit-progress-bar {
      background-color: $primaryWhite;
      border-radius: 5px;
    }

    &::-webkit-progress-value {
      background-color: $secondaryBlue;
      border-radius: 4px;
    }

    &::-moz-progress-bar {
      background-color: $secondaryBlue;
      border-radius: 4px;
    }

    &::-ms-fill {
      background-color: $secondaryBlue;
      border-radius: 4px;
    }
  }

  .language-switcher .front, .language-switcher .back {
    background: linear-gradient(60deg, $secondaryLightGrey, $secondaryBlue);
    color: $secondaryBlack;
  }

  .sidebarContainer--content_input input {
    border-bottom: 1px solid $secondaryBlack;
    color: $secondaryBlack;
  }

  .logoContainer {
    background: linear-gradient(135deg, #6e45e2, #88d3ce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .gender-group {
    input[type="radio"] {
      accent-color: $secondaryBlue;
    }
  }
}


