//variables
$primaryOrange: #F37335;
$primaryBlack: #1E1E1E;
$primaryGrey: #AAAAAA;
$primaryWhite: #FFFFFF;
$secondaryBlack: #212121;
$secondaryBlue: #005AA7;
$secondaryGrey: #8e9eab;
$secondaryLightGrey: #eef2f3;